#wrap {}
#wrap main {background-color:#000; text-align:center;}
#wrap main .first_screen {width:100vw; height:100vh; position:relative; overflow:hidden;}
#wrap main .first_screen h1 {height:100%; position:relative; z-index:10;}
#wrap main .first_screen h1 img { height:100%;display:block;}
#wrap main .first_screen iframe {position:absolute; top:0; left:50%; width:150%; height:150%; z-index:1; transform:translateX(-50%);}
#wrap main .company_actors {padding:0 95px 0 54px;}
#wrap main .company_actors h2 {
    font-size:12.5rem; font-family:'Crimson Text',serif; font-weight:700;
    line-height:90%; margin:246px 0 264px;
}
#wrap main .company_actors .actor_img {
    border:2px solid red; width:100%; position:relative; display:grid;
    grid-template-areas:
        'actor1 actor2 . . . .'
        'actor3 actor4 actor5 actor6 . .'
        'actor7 actor8 actor9 actor10 actor11 actor12'
        'actor13 actor14 actor15 actor16 . .'
        'actor17 actor18 actor19 actor20 actor21 actor22'
        'actor23 actor24 actor25 actor26 . .'
        'actor27 actor28 actor29 . . .'
        'actor30 actor31 actor32 actor33 . .'
        'actor34 . . . . .';
}
#wrap main .company_actors .actor_img .actor {background-color:aqua;/*  position:absolute; */}
#wrap main .company_actors .actor_img .actor img {object-fit: cover; width:100%; height:100%;}
#wrap main .company_actors .actor_img .actor p {}
#wrap main .company_story {}
#wrap main .company_story img {}
#wrap main .company_story .story_text {}
#wrap main .company_story .story_text .text_top {}
#wrap main .company_story .story_text .text_top p {
    font-size:6.25rem; font-family:'lexend',sans-serif; font-weight:900;
}
#wrap main .company_story .story_text > p {color:#000;}
#wrap main .company_story .story_text_korean {}
#wrap main .company_story .story_text_korean p {}
/* 프로그램 */
#wrap main .program_list {}
#wrap main .program_list > img {}
#wrap main .program_list .program_wrap {}
#wrap main .program_list .program_wrap .program_swiper {}
#wrap main .program_list .program_wrap .program_swiper .slide {}
#wrap main .program_list .program_wrap .program_swiper .slide img {}
/* 오디션공고 */
#wrap main .audition {}
#wrap main .audition .audition_category {}
#wrap main .audition .audition_category p {}
#wrap main .audition .audition_category button {}
#wrap main .audition .audition_content {}
#wrap main .audition .audition_content .audition_left {}
#wrap main .audition .audition_content .audition_left em {}
#wrap main .audition .audition_content .audition_left span {}
#wrap main .audition .audition_content .audition_right {}
#wrap main .audition .audition_content .audition_right img {}
#wrap main .audition .information_content {}
#wrap main .audition .information_content span em {}
#wrap main .audition .invitation_content {}
#wrap main .audition .invitation_content span em {}
/* 배우 사진 개별 크기 */
#wrap main .company_actors .actor_img .actor:nth-of-type(1) {width:299px; height:256px; grid-area:actor1;}
#wrap main .company_actors .actor_img .actor:nth-of-type(2) {width:435px; height:435px; grid-area:actor2;}
#wrap main .company_actors .actor_img .actor:nth-of-type(3) {width:264px; height:263px; grid-area:actor3;}
#wrap main .company_actors .actor_img .actor:nth-of-type(4) {width:360px; height:328px; grid-area:actor4;}
#wrap main .company_actors .actor_img .actor:nth-of-type(5) {width:275px; height:271px; grid-area:actor5;}
#wrap main .company_actors .actor_img .actor:nth-of-type(6) {width:317px; height:410px; grid-area:actor6;}
#wrap main .company_actors .actor_img .actor:nth-of-type(7) {width:353px; height:359px; grid-area:actor7;}
#wrap main .company_actors .actor_img .actor:nth-of-type(8) {width:249px; height:250px; grid-area:actor8;}
#wrap main .company_actors .actor_img .actor:nth-of-type(9) {width:193px; height:203px; grid-area:actor9;}
#wrap main .company_actors .actor_img .actor:nth-of-type(10) {width:336px; height:275px; grid-area:actor10;}
#wrap main .company_actors .actor_img .actor:nth-of-type(11) {width:315px; height:315px; grid-area:actor11;}
#wrap main .company_actors .actor_img .actor:nth-of-type(12) {width:370px; height:407px; grid-area:actor12;}
#wrap main .company_actors .actor_img .actor:nth-of-type(13) {width:288px; height:228px; grid-area:actor13;}
#wrap main .company_actors .actor_img .actor:nth-of-type(14) {width:375px; height:364px; grid-area:actor14;}
#wrap main .company_actors .actor_img .actor:nth-of-type(15) {width:386px; height:300px; grid-area:actor15;}
#wrap main .company_actors .actor_img .actor:nth-of-type(16) {width:269px; height:272px; grid-area:actor16;}
#wrap main .company_actors .actor_img .actor:nth-of-type(17) {width:308px; height:389px; grid-area:actor17;}
#wrap main .company_actors .actor_img .actor:nth-of-type(18) {width:332px; height:333px; grid-area:actor18;}
#wrap main .company_actors .actor_img .actor:nth-of-type(19) {width:275px; height:270px; grid-area:actor19;}
#wrap main .company_actors .actor_img .actor:nth-of-type(20) {width:374px; height:377px; grid-area:actor20;}
#wrap main .company_actors .actor_img .actor:nth-of-type(21) {width:305px; height:307px; grid-area:actor21;}
#wrap main .company_actors .actor_img .actor:nth-of-type(22) {width:262px; height:265px; grid-area:actor22;}
#wrap main .company_actors .actor_img .actor:nth-of-type(23) {width:406px; height:390px; grid-area:actor23;}
#wrap main .company_actors .actor_img .actor:nth-of-type(24) {width:317px; height:454px; grid-area:actor24;}
#wrap main .company_actors .actor_img .actor:nth-of-type(25) {width:282px; height:287px; grid-area:actor25;}
#wrap main .company_actors .actor_img .actor:nth-of-type(26) {width:314px; height:396px; grid-area:actor26;}
#wrap main .company_actors .actor_img .actor:nth-of-type(27) {width:359px; height:424px; grid-area:actor27;}
#wrap main .company_actors .actor_img .actor:nth-of-type(28) {width:291px; height:289px; grid-area:actor28;}
#wrap main .company_actors .actor_img .actor:nth-of-type(29) {width:552px; height:290px; grid-area:actor29;}
#wrap main .company_actors .actor_img .actor:nth-of-type(30) {width:359px; height:330px; grid-area:actor30;}
#wrap main .company_actors .actor_img .actor:nth-of-type(31) {width:336px; height:483px; grid-area:actor31;}
#wrap main .company_actors .actor_img .actor:nth-of-type(32) {width:359px; height:258px; grid-area:actor32;}
#wrap main .company_actors .actor_img .actor:nth-of-type(33) {width:376px; height:455px; grid-area:actor33;}
#wrap main .company_actors .actor_img .actor:nth-of-type(34) {width:452px; height:332px; grid-area:actor34;}